.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h2 {
  font-size: 12pt;
}

h5 {
  margin: 0;
}

a {
  text-decoration: none;
  color: #4f9a94;

}

.card-content {
  background-color: #242424;
  padding: 10px;
}

.icon {
  width: 30px;
  display: inline-block;
  margin-left: 10px;
  filter: invert(100%);
}

.section {
  font-size: 11pt;
}

.section ul {
   list-style-type: none;
}

.is-marginless {
  padding: 0;
}

.column {
  background-color: #1b1b1b;

}

.column.is-4 {

  float: right;
  width: 40%;
  padding: 5px;
}
.column.is-8 {

  float: left;
  width: 54%;
  padding: 10px;

}

.column pre {
  white-space: break-spaces;
}

.column p {
  margin: 0;
}

.image {
  padding: 0;
  width: 80%;
  display: inline;
  float: left;
}

.box {
  float: unset;
}

.box img {
  margin-top: 10px;

}

.image img {
 width: 80%;
}

.is-medium {
 margin-bottom: 15px;
}

span.changes {
  background-color: #1b1b1b;
  font-size: 9pt;
  padding: 5px;
}

div.changes {
  margin-bottom: 10px;
}

div[role="tabpanel"] {
  padding-top: 20px;
}

.dialogMessage {
  margin-top: 24px;
}
